/* { 
    border: solid 1px blue;
    padding: 0.2vw;
}*/

body{
    height: 100vh;
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: space-between; 
}

.hero, .section1, .section2, .section3, .footer{
    padding: 0vw 15vw 0vw 15vw;
    /*border: solid 2px blue;*/
    flex: 1; 
}

.hero, .section1, .section2, .section3 {
    margin-bottom: 1vw;
}

.hero, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.hero-top, .hero-bot{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.hero-bot{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}


.hero-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-links{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 1vw;
}

.hero-main-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 1vw;

}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    padding: 8px 30px;
    margin: 10px 0;
    border: none;
    font-weight: bold;
}

.hero-main-right{
    display: flex;
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 0 0vw;


}

.placeholder-txt{
    display: flex;
    justify-content: flex-end;
}

.hero-main-txt{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-scnd-txt, .hero-links{
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: #F9FAF8;
}

.section1{
    margin-bottom: 6vw;
}

.section1-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.section1-captions {
    display: flex;
    justify-content: center;
    gap: 60px;
    font-weight: lighter;
}

.caption1, .caption2, .caption3, .caption4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: solid 3px #3882F6;
    border-radius: 10px;
    margin: 0.4vw;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 0;
    background-color: #E5E7EB;
}

.section2-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
}

.section2-quote{
    display: flex;
    font-style: italic;
    font-size: 32px;
    font-weight: 200;
    color: #1F2937;
}

.quote-author{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    padding-right: 2vw;
}



.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw 0;
}

.sct3-bluebox{
    display: flex;
    border-radius: 5px;
    padding: 30px 80px;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    width: 60%;
    
}

.bluebox-title{
    display: flex;
    font-weight: bold;
    border: solid 3px #3882F6;
}

.blue-box-subtext{
    font-size: 12px;
}

.blue-box-button button{
    display: flex;
    justify-content: flex-end;
    border: solid 2px white;
    border-radius: 5px;
    padding: 5px 30px;
}

.footer{
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 15px 0;
}