* { 
    border: solid 3px blue;
    padding: 1vw;
}

.hero, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.hero-top, .hero-bot{
    display: flex;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

